{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    Index Page
{% endblock %}

{% block page_content %}
    <p>{{ wtf.quick_form(form) }}</p>
    <h1>Hey,
        <U>
            {% if name %}
                {{ name|capitalize }}
            {% else %}
                Stranger
            {% endif %}
        </U>.
    </h1>
    <p>Your Ip Address is <U>{{ ipaddr }}</U>.</p>
    <p>Your location is <U>{{ ipinfo }}</U>.</p>
    <p>Localtime is <u>{{ moment(current_time).format('LLL') }}</u>.</p>
    <p>That was <u>{{ moment(current_time).fromNow(refresh=True) }}</u></p>

{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
