{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Sina Short Url Tools
{% endblock %}


{% block page_content %}
    <hr>
    <h1>新浪短链生成/查询</h1>
    {{ wtf.quick_form(form) }}

    {% if results %}

        <div>
            <hr>
            <h1>查询结果:</h1>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>URL</th>
                    <th>SHORTURL</th>
                    <th>PV</th>
                    <th>UV</th>
                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr>
                        <td>{{ result.id }}</td>
                        <td>{{ result.url }}</td>
                        <td>{{ result.short_url }}</td>
                        <td>{{ result.pv }}</td>
                        <td>{{ result.uv }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    {% endif %}
{% endblock %}