{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
    UV Weaver
{% endblock %}
{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {% block page_content %}
            <hr>
            <h1>UV Weaver 1.0</h1>
            <p>{{ wtf.quick_form(form) }}</p>

            <br>
            <hr>
            <br>

        {% endblock %}
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
{% endblock %}
